body{
    background-color: #282828;
    color: #fff;
}

.cabecalho{
    height: 80px;
    background-color: #0b0b0b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    border-bottom: 1px solid #7c7b7b; 
}

.cabecalho .logo{
    display: flex;
    gap: 15px;
}

.cabecalho .menu{
    display: flex;
    gap: 30px;
}

.cabecalho .menu li a{
    padding: 30px;
    color: #e0e0e0;
    font-weight: bolder;
    font-size: 15px;
    font-family: 'Chalet';
}

.cabecalho .menu li a:hover{
    border-bottom: 2px solid #fff;
}

.home {
    display: flex;
    position: relative;
    min-height: calc(100vh - 80px);
}

.home::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(100deg, rgba(0, 0, 0, .85), rgba(0, 0, 0, .8) 45%, transparent 65%);
}

.home .imagem-fundo{
    width: 100%;
    object-fit: cover;
}

.home .informacoes {
    position: absolute;
    z-index: 1;
    min-height: calc(100vh - 80px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    padding: 80px 80px 80px 170px;
    max-width: 780px;
}

.home .informacoes img{
    max-width: 150px;
}

.home .informacoes .lista-de-livros{
    display: flex;
    gap: 32px;
}

.home .informacoes .titulo{
    font-family: 'ChaletComprime';
    font-size: 55px;
}

.home .informacoes .texto{
    font-family: 'Chalet';
    font-size: 18px;
    line-height: 1.6;
}

.botao-orcar, .botao-sociais{
    background-color: rgba(255, 255, 255, .1);
    border: 0.5px solid #fff;
    border-radius: 4px;
    font-family: 'ChaletComprime';
    font-size: 28px;
    text-align: center;
    padding: 20px 40px;
    text-transform: uppercase;
    width: 50%;
    transition: all .3s ease-in;
}

.botao-sociais{
    color: #fff;
    width: 150%;
    cursor: pointer;
}

.botao-orcar:hover{
    background-color: #fff;
    color: #000;
}

.pedido-ja .capa-da-loja{
    width: 400px;
}

.pedido-ja{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20%;
    align-items: center;
}

.pedido-ja .titulo{
    font-family: 'ChaletComprime';
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 50px;
}

.pedido-ja .cartao{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181717;
    width: 50%;
    border-radius: 30px;
    padding: 200px;
    gap: 40px;

}

.pedido-ja .informacoes{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.pedido-ja .informacoes h3{
    font-family: 'ChatletComprime';
    font-size: 52px;
    font-weight: 700;
}

.pedido-ja .informacoes p{
    color: #e8e8e8;
    font-family: 'Chalet';
    font-size: 16px;
    line-height: 1.6;
}

.pedido-ja .informacoes .plataformas{
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    justify-content: center;
}

.pedido-ja .botao-sociais .plataformas{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    transition: all .3s ease-in;
    display: none;
    opacity: 0;   
}

.pedido-ja .botao-sociais .plataformas.ativo{
    display: flex;
    opacity: 1;
}

.pedido-ja .botao-sociais .plataformas li{
    padding: 20px;
}

.pedido-ja .botao-sociais .plataformas li:nth-child(1){
    border: 1px solid #00439c;
}

.pedido-ja .botao-sociais .plataformas li:nth-child(2){
    border: 1px solid #e234a0;
}

.pedido-ja .botao-sociais .plataformas li:nth-child(3){
    border: 1px solid #069446;
}


